@using Sitecore.Data.Fields
@using Sitecore.Data.Items
@using Sitecore.Mvc
@using Sitecore.Resources.Media
@model iehp.NewsArticles.Models.EventViewModel

<div class="col-24">
    <h4>Latest News</h4>
</div>

@foreach (var child in ViewBag.newsList)
{
    <div class="row">
        <div class="col-4">
            <span class="newsDay">@Html.Sitecore().Field("Event Date", child)</span>
            <br />
            <span class="newsMonth">@Html.Sitecore().Field("Event Month", child)</span>
            <br />
            <span class="newsYear">@Html.Sitecore().Field("Event Year", child)</span>
        </div>

        <div class="col-18">
            <strong>@Html.Sitecore().Field("Title", child)</strong>
            <p class="noMargin">@Html.Sitecore().Field("Description", child)</p>
        </div>
    </div>

    <hr />
}
