@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@Html.Sitecore().Field("title", new { DisableWebEdit = true })</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/styles.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900" rel="stylesheet">

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/iehp.js"></script>
    <script src="https://player.vimeo.com/api/player.js"></script>

    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    <div class="col-24 col-xl-20 col-xxl-14 mx-auto">
        @Html.Sitecore().Placeholder("navCtrl")
    </div>


    <div id="imageSlider" class="row">
        @RenderPage("~/Views/Shared/_StickySocial.cshtml")

        @Html.Sitecore().Placeholder("providerHero")
    </div>

    <div class="col-24 col-xl-20 col-xxl-14 mx-auto row justify-content-between">
        <div class="col-24 col-md-11">
            @Html.Sitecore().Placeholder("providerLogin")
        </div>

        <div class="col-24 col-md-12 planPadding magentaBackground white">
            @Html.Sitecore().Placeholder("planUpdates")
        </div>
    </div>

    <div class="col-24 col-xl-20 col-xxl-14 mx-auto row itemSep justify-content-between">
        <div class="col-24 itemSep2">
            <div id="providerTabsNav" class="col-24 mx-auto">
                <div class="proTabsHeader">
                    <h3>Provider Resources</h3>
                </div>
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a id="proTab1" class="mainTab nav-link active" href="#" data-toggle="tab">PCP</a>
                    </li>
                    <li class="nav-item">
                        <a id="proTab2" class="mainTab nav-link" href="#" data-toggle="tab">Vision</a>
                    </li>
                    <li class="nav-item">
                        <a id="prTab3" class="mainTab nav-link" href="#" data-toggle="tab">Behavorial Health</a>
                    </li>
                    <li class="nav-item">
                        <a id="proTab4" class="mainTab nav-link" href="#" data-toggle="tab">Specialists</a>
                    </li>
                    <li class="nav-item">
                        <a id="proTab5" class="mainTab nav-link" href="#" data-toggle="tab">Ancillary</a>
                    </li>
                    <li class="nav-item">
                        <a id="proTab6" class="mainTab nav-link" href="#" data-toggle="tab">IPA</a>
                    </li>
                    <li class="nav-item">
                        <a id="proTab7" class="mainTab nav-link" href="#" data-toggle="tab">Facility</a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="proTab1Tab">
                        <div id="proTab1Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab2Tab">
                        <div id="proTab2Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab3Tab">
                        <div id="proTab3Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab4Tab">
                        <div id="proTab4Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab5Tab">
                        <div id="proTab5Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab6Tab">
                        <div id="proTab6Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>

                    <div class="tab-pane" id="proTab7Tab">
                        <div id="proTab7Content" class="tabWrapper row">
                            <!--Tab Content Goes Here-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-24 col-xl-20 col-xxl-14 mx-auto row itemSep justify-content-between">
        <div class="col-24 col-sm-12 proWidget vertDivider">
            @Html.Sitecore().Placeholder("plansWidget")
        </div>

        <div class="col-24 col-sm-12 proWidget iehpGreen planTopSep">
            @Html.Sitecore().Placeholder("cahCTA")
        </div>
    </div>

    <div class="col-24 col-xl-20 col-xxl-14 mx-auto row topPadding justify-content-between">
        <div class="col-24 col-lg-18 greyBackground">
            <div class="row mrHeader">
                <h4>Member Resources</h4>
            </div>

            <div class="row">
                @Html.Sitecore().Placeholder("mrWidget")
            </div>
        </div>

        <div class="col-24 col-lg-5 ctaWidgets greenBackground noPadding white">
            <div class="col-24">
                @Html.Sitecore().Placeholder("hwCTA")
            </div>
        </div>
    </div>

    <div id="footer" class="row">
        <div id="footerLinks" class="col-24 col-lg-20 col-xxl-14 mx-auto row">
            @Html.Sitecore().Placeholder("footerLinks")
        </div>
    </div>

    <div id="extraFooter">
        <div class="col-24 col-lg-20 col-xxl-14 mx-auto row topPadding text-center">
            @Html.Sitecore().Placeholder("extraFooterLinks")
        </div>
    </div>


    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>