@using Sitecore.Mvc
@model iehp.SubNav.Models.NavigationViewModel

<div class="col-21">
    <ul class="navMenu small">
        @foreach (var child in Model.Children)
        {
            <li>
                @Html.Sitecore().Field("Link Url", child)
            </li>
        }
    </ul>
</div>

<div class="col-3">
    <div class="subNavDropList navMenu float-right">
        <a href="#" id="subNavDropLink" class="dropbtn">Portal Login &or;</a>
        <div id="subNavDropDown" class="dropdown-content text-left">
            @foreach (var child in Model.Children2)
            {
               @Html.Sitecore().Field("Link Url", child)
            }
        </div>
    </div>

</div>




    @*<p>Parent Guid: @Model.Item.ID.ToString()</p>
        <p>Parent Guid Template ID: @Model.Item.TemplateID.ToString()</p>
        <br />
        <p>Children Guids of Parent Guid:</p>

        <ul>
            @foreach (var child in Model.Children)
            {
                <li>Template ID: @child.TemplateID.ToString()</li>
            }
        </ul>*@

